.text-effect {
  background: linear-gradient(
    120deg,
    var(--primary-color),
    var(--accent-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
