@use "../abstracts/" as *;

.even-columns {
  display: grid;
  gap: var(--grid-gap, $grid-gap);
  column-gap: var(--column-gap, $column-gap);
  row-gap: var(--row-gap, $row-gap);

  @include mqMin(medium) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  &.col-2 {
    @include mqMin(small) {
      grid-template-columns: 1fr;
    }

    @include mqMin(medium) {
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: row;
      justify-content: center;
      align-items: center;
      --column-gap: 6em;
      --row-gap: 3em;
    }
  }
}
