@use "../abstracts/" as *;

.primary-navigation {
  --flex-column-gap: #{size(48)};

  ul {
    list-style: none;
  }

  li {
    transition: transform 250ms;

    &:is(:hover, :focus) {
      transform: scale(1.05) translateY(10%);
    }
  }

  a {
    text-decoration: none;
    color: clr(accent, 900);
    font: {
      family: $ff-accent;
      size: fs(400);
    }
    transition: opacity 250ms;

    &:is(:hover, :focus) {
      opacity: 0.5;
    }
  }
}
