$colors: (
  neutral: (
    900: #212121,
    400: #5c5c5c,
    200: #f8f8f8,
    100: #ffffff,
  ),
  primary: (
    400: #5959ee,
  ),
  secondary: (
    400: #b5b5f7,
  ),
  accent: (
    400: #1515cb,
    900: #04042a,
  ),
);
